
/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
  
}

/* regole header */
header{
    width: 100%;
    height: 80px;
    background-color:#0084fd ;
    position: fixed;
    z-index: 900;
    
}
header .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-height: 80px;
}
.menuphone{
    position: relative;
}
.fa-bars{
    color: white;
    font-size: 25px;
    position: absolute;
    top:-18px;
    right: 10px;
    
}
.menudesktop{
    display: none;
}
/* regole sezione demo dev application col left */
.container-demo{
  padding-top:120px ;
    width: 80%;
    margin: 0 auto;
  
}

.col-left{
 width: 100%;
 background-color: #b5ddff;
 border-radius: 25px;
}
.text-phone{
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
  
}
.phone-title{
    color: #0084fd;
    padding: 30px 0;
}
.phone-paragraph{
    padding-bottom: 30px;
    color: #5a6e7f;
}
.phone-button{
    width: 150px;
    height: 30px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #0084fd;
}
.img-phone{
    padding-top: 20px;
    text-align: center;
}
.phone-png{
    width:250px ;
   
}
/* regole sezione demo dev application col right */
.col-demo{
    width: 100%;
    background-color: #b5ddff;
    border-radius: 25px;
 
    text-align: center;
}
.title-demo{
    padding-bottom: 30px;
    color: #0084fd;
}
.paragraph-demo{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #5a6e7f;
}
#font-demo{
    font-size: 80px;
    padding: 30px 0;
    color: #0084fd;
}
/* <!--regole sezione planning --> */
.container-planning{
    background-color:#9593e6 ;
}
#strategic-plan{
 width: 80%; 
 margin: 0 auto; 
 color: white;
}
.planning-img{
    width: 300px;  
    padding-top: 50px;
}
#planning-title{
    padding: 30px 0;
}
#planning-paragraph{
    padding-bottom: 30px;
}
/* regloe sezione planning app development */
.container-planning{
    padding-bottom: 60px;
    
}
#app-development{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
}
#app-title{
    padding: 30px;
}
#app-paragraph{
    padding-bottom: 30px;
}
#app-development-text{
    width: 80%;
    margin: 0 auto;
    
}

.footer{
    background-color: black;
}
/* versione tablet */
@media screen and (min-width:780px) {
   .row{
    display: flex;
    gap:  20px;
    padding-bottom: 20px;
   }
   .col-left{
  
    width: 65%;
    height: 550px;
   }
   .text-phone{
    text-align: left;
   }
   .img-phone{
    text-align: left;
   }
   .col-demo{
    width: 35%;
    height: 550px;
    padding: 30px 0;
   }
}
/* varsione desktop */
@media screen and (min-width:1280px){
    .menuphone{
        display: none;
    }
    .menudesktop{
        display: block;
    }
    .desktop-nav{
        width: 600px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: white;
        font-size: 20px;
    }
    .nav-button{
        width: 120px;
        height: 40px;
        border-radius: 30px;
        border: none;
        font-size: 18px;
    }
}
/* regole debug */
/* section{
    background-color: blueviolet;
    min-height: 150px;
   
} */
/* .container{
    border: solid 1px black;
    min-height: 50px;
} */
footer{
    height: 150px;
    background-color:#333333 ;
}
/* #logo, header nav{
    min-width: 50px;
    min-height: 50px;
    border: solid 1px black;
 } */
/* #logo{
    background-color:darkslategray;
} */
/* .menuphone{
    background-color:darkslateblue;
} */
/* .menudesktop{
    background-color: darkslateblue;
} */
/* .col-left{
    min-height: 100px;
    background-color: aqua;
    margin: solid 1px black;
} */
/* .col-right{
    min-height: 100px;
    background-color: rgb(2, 54, 54);
    margin: solid 1px black;
}   */
.col-first{
    min-height: 100px;
    background-color: rgb(1, 22, 22);
    margin: solid 1px black;
}   
.col-second{
    min-height: 100px;
    background-color: rgb(1, 22, 6);
    margin: solid 1px black;
} 
.col-third{
    min-height: 100px;
    background-color: rgb(3, 1, 22);
    margin: solid 1px black;
} 
/* #strategic-plan{
    min-height: 100px;
    background-color: red;
} */
/* #app-development{
    min-height: 100px;
    background-color: orangered;
} */
.text-col{
    min-height: 100px;
    background-color: rgb(255, 230, 0); 
}
.testimonial-col{
    min-height: 100px;
    background-color: rgb(158, 143, 3);
    
}
.col{
    min-height: 100px;
    background-color: rgb(3, 158, 62);
}